.container {
    height: 250px;
    width: 250px;
    border-style: solid;
    border-color: #000000;
    margin: auto;

}

.onclick
{
   opacity: 40%;
}

.offclick
{
   background-color: aqua;
}


.container img {
    height: 25px;
    width: 25px;
    margin: auto;
}

.container table {
    height: 100%;
    width: 100%;
    border-spacing: 0;
}

.container tr td {
    height: 10%;
    width: 10%;
}

.container table tr:nth-child(even) td:nth-child(odd) {
    background-color: darkgrey;
}

.container table tr:nth-child(odd) td:nth-child(even) {
    background-color: darkgrey;
}

.container table tr:nth-child(even) td:nth-child(even) {
    background-color: white;
}

.container table tr:nth-child(odd) td:nth-child(odd) {
    background-color: white;
}